<% const enabledColor = "text-success"; %>
<% const disabledColor = "text-secondary"; %>

<div class="row row-cols-1 g-1">
    <div class="col">
        <div class="card rounded-10">
            <form id="spotifySearchForm">
                <div class="input-group">
                    <input class="form-control border-0 rounded-start-10 bg-blue-dark"
                           name="query"
                           type="search"
                           value="<%= searchOptions.query %>"
                           placeholder="Search..."
                    >
                    <input type="hidden"
                           name="types"
                           value="<%= searchOptions.types %>"
                    >
                    <span class="input-group-append">
                        <div class="btn btn-dark-blue rounded-0 <%= searchOptions.playlists ? enabledColor : disabledColor %> search-category-toggle"
                             search-category="playlist"
                             enabled="<%= searchOptions.playlists %>"
                             enabled-color="<%= enabledColor %>"
                             disabled-color="<%= disabledColor %>"
                        >
                            <i class="bi bi-music-note-list"></i>
                        </div>
                    </span>
                    <span class="input-group-append">
                        <div class="btn btn-dark-blue rounded-0 <%= searchOptions.albums ? enabledColor : disabledColor %> search-category-toggle"
                             search-category="album"
                             enabled="<%= searchOptions.albums %>"
                             enabled-color="<%= enabledColor %>"
                             disabled-color="<%= disabledColor %>"
                        >
                            <i class="bi bi-collection"></i>
                        </div>
                    </span>
                    <span class="input-group-append">
                        <div class="btn btn-dark-blue rounded-0 <%= searchOptions.artists ? enabledColor : disabledColor %> search-category-toggle"
                             search-category="artist"
                             enabled="<%= searchOptions.artists %>"
                             enabled-color="<%= enabledColor %>"
                             disabled-color="<%= disabledColor %>"
                        >
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </span>
                    <span class="input-group-append">
                        <div class="btn btn-dark-blue rounded-0 <%= searchOptions.tracks ? enabledColor : disabledColor %> search-category-toggle"
                             search-category="track"
                             enabled="<%= searchOptions.tracks %>"
                             enabled-color="<%= enabledColor %>"
                             disabled-color="<%= disabledColor %>"
                        >
                            <i class="bi bi-music-note"></i>
                        </div>
                    </span>
                    <span class="input-group-append">
                        <button class="btn btn-blue rounded-0 rounded-end-10" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <% if (searchOptions.query === "" || searchOptions.types === "") { %>
        <div class="col">
            <div class="px-3 font-size-ssm text-danger text-center lh-lg">
                <% if (searchOptions.query === "") { %>
                    <span class="d-block">Please insert a search query.</span>
                <% } %>

                <% if (searchOptions.types === "") { %>
                    <span class="d-block">Please select at least one search type.</span>
                <% } %>
            </div>
        </div>
    <% } %>

    <% if (searchResults !== undefined) { %>
        <% const keys = Object.keys(searchResults); %>
        <% const selectedColor = "btn-blue"; %>
        <% const deselectedColor = "btn-blue-dark"; %>
        <% const selectedCategory = Object.keys(searchResults)[0]; %>

        <div class="col">
            <div class="row row-cols-1 g-1">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-start font-size-sm px-3 py-2">
                        <% if (keys.indexOf("playlists") !== -1) { %>
                            <div class="badge <%= selectedCategory === "playlists" ? selectedColor : deselectedColor %> cursor-pointer me-2 toggle-category"
                                 data-target="#spotifySearchPlaylists"
                                 data-non-target=".spotify-search-wrapper"
                                 selected-color="<%= selectedColor %>"
                                 deselected-color="<%= deselectedColor %>"
                            >
                                Playlists
                            </div>
                        <% } %>
                        <% if (keys.indexOf("albums") !== -1) { %>
                            <div class="badge <%= selectedCategory === "albums" ? selectedColor : deselectedColor %> cursor-pointer me-2 toggle-category"
                                 data-target="#spotifySearchAlbums"
                                 data-non-target=".spotify-search-wrapper"
                                 selected-color="<%= selectedColor %>"
                                 deselected-color="<%= deselectedColor %>"
                            >
                                Albums
                            </div>
                        <% } %>
                        <% if (keys.indexOf("artists") !== -1) { %>
                            <div class="badge <%= selectedCategory === "artists" ? selectedColor : deselectedColor %> cursor-pointer me-2 toggle-category"
                                 data-target="#spotifySearchArtists"
                                 data-non-target=".spotify-search-wrapper"
                                 selected-color="<%= selectedColor %>"
                                 deselected-color="<%= deselectedColor %>"
                            >
                                Artists
                            </div>
                        <% } %>
                        <% if (keys.indexOf("tracks") !== -1) { %>
                            <div class="badge <%= selectedCategory === "tracks" ? selectedColor : deselectedColor %> cursor-pointer toggle-category"
                                 data-target="#spotifySearchTracks"
                                 data-non-target=".spotify-search-wrapper"
                                 selected-color="<%= selectedColor %>"
                                 deselected-color="<%= deselectedColor %>"
                            >
                                Tracks
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="col">
                <% if (keys.indexOf("playlists") !== -1) { %>
                    <div class="row row-cols-1 g-1 spotify-search-wrapper <%= selectedCategory !== "playlists" ? "d-none" : "" %>" id="spotifySearchPlaylists">
                        <% searchResults["playlists"].forEach(function (playlist) { %>
                            <div class="col">
                                <div class="card rounded-10">
                                    <%- include ("./spotify_playlist_item", { playlist: playlist }); %>
                                </div>
                            </div>
                        <% }); %>

                        <% if (searchResults["playlists"].length === 0) { %>
                            <div class="col">
                                <div class="card rounded-10 p-3 font-size-ssm text-center">
                                    <span class="d-block fw-bold mb-3">No results found for <%= searchOptions.query %></span>
                                    Please make sure your words are spelled correctly or use less or different keywords.
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>

                <% if (keys.indexOf("albums") !== -1) { %>
                    <div class="row row-cols-1 g-1 spotify-search-wrapper <%= selectedCategory !== "albums" ? "d-none" : "" %>" id="spotifySearchAlbums">
                        <% searchResults["albums"].forEach(function (album) { %>
                            <div class="col">
                                <div class="card rounded-10">
                                    <%- include ("./spotify_album_item", { album: album }); %>
                                </div>
                            </div>
                        <% }); %>

                        <% if (searchResults["albums"].length === 0) { %>
                            <div class="col">
                                <div class="card rounded-10 p-3 font-size-ssm text-center">
                                    <span class="d-block fw-bold mb-3">No results found for <%= searchOptions.query %></span>
                                    Please make sure your words are spelled correctly or use less or different keywords.
                                </div>
                            </div>
                        <% } %>
                    </div>

                <% } %>

                <% if (keys.indexOf("artists") !== -1) { %>
                    <div class="row row-cols-1 g-1 spotify-search-wrapper <%= selectedCategory !== "artists" ? "d-none" : "" %>" id="spotifySearchArtists">
                        <% searchResults["artists"].forEach(function (artist) { %>
                            <div class="col">
                                <div class="card rounded-10">
                                    <%- include ("./spotify_artist_item", { artist: artist }); %>
                                </div>
                            </div>
                        <% }); %>

                        <% if (searchResults["artists"].length === 0) { %>
                            <div class="col">
                                <div class="card rounded-10 p-3 font-size-ssm text-center">
                                    <span class="d-block fw-bold mb-3">No results found for <%= searchOptions.query %></span>
                                    Please make sure your words are spelled correctly or use less or different keywords.
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>

                <% if (keys.indexOf("tracks") !== -1) { %>
                    <div class="row row-cols-1 g-1 spotify-search-wrapper <%= selectedCategory !== "tracks" ? "d-none" : "" %>" id="spotifySearchTracks">
                        <% searchResults["tracks"].forEach(function (track) { %>
                            <div class="col">
                                <div class="card rounded-10">
                                    <%- include ("./spotify_track_item", { track: track, trackIndex: 0, type: "track", uri: track.uri }); %>
                                </div>
                            </div>
                        <% }); %>

                        <% if (searchResults["tracks"].length === 0) { %>
                            <div class="col">
                                <div class="card rounded-10 p-3 font-size-ssm text-center">
                                    <span class="d-block fw-bold mb-3">No results found for <%= searchOptions.query %></span>
                                    Please make sure your words are spelled correctly or use less or different keywords.
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>
