<div class="card rounded-10 pe-3 mb-1">
    <div class="d-flex justify-content-start align-items-center">
        <span class="d-flex">
            <span class="ratio ratio-1x1 w-200p h-auto">
                <% if (playlist.images && playlist.images.length > 0) { %>
                    <% const image = playlist.images[0]; %>
                    <img class="rounded-start-10 w-200p h-auto" src="<%= image.url %>" />

                <% } else if (playlist.tracks.length > 0) { %>
                    <% const image = playlist.tracks[Math.floor(Math.random() * playlist.tracks.length)].images[0]; %>
                    <img class="rounded-start-10" src="<%= image.url %>" height="auto" width="200" />

                <% } else { %>
                    <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 bg-secondary text-center rounded-start-10">
                        <i class="bi bi-music-note-list position-absolute top-50 start-50 translate-middle"></i>
                    </div>

                <% } %>

                <div class="overlay position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 cursor-pointer collection-play"
                     collection-uri="<%= playlist.uri %>"
                     collection-offset="0"
                >
                    <i class="bi bi-play-circle-fill text-success fs-1 position-absolute top-50 start-50 translate-middle"></i>
                </div>
            </span>
        </span>

        <span class="ms-3 lh-1 flex-grow-1">
            <span class="d-flex align-items-center justify-content-between">
                <span class="text-uppercase text-light font-size-ssm">
                    Playlist
                </span>
                <span>
                    <span class="btn btn-sm fs-5 py-0 cursor-pointer collection-follow <%= !playlist.following ? "d-none" : "" %>"
                          id="unfollowPlaylist"
                          collection-type="playlist"
                          collection-id="<%= playlist.id %>"
                          collection-following="false"
                          inverse-target="#followPlaylist"
                    >
                        <i class="bi bi-heart-fill text-success"></i>
                    </span>
                    <span class="btn btn-sm fs-5 py-0 cursor-pointer collection-follow <%= playlist.following ? "d-none" : "" %>"
                          id="followPlaylist"
                          collection-type="playlist"
                          collection-id="<%= playlist.id %>"
                          collection-following="true"
                          inverse-target="#unfollowPlaylist"
                    >
                        <i class="bi bi-heart text-success"></i>
                    </span>
                </span>
            </span>

            <span class="d-block h3 mb-2 fw-bolder">
                <%= playlist.name %>
            </span>

            <% if (playlist.description) { %>
                <span class="d-block font-size-esm fw-light mb-2 font-no-monospace">
                    <%- playlist.description %>
                </span>
            <% } %>

            <span class="d-block text-uppercase text-light font-size-ssm">
                <%= playlist.owner.name %>
                <span class="bi bi-dot"></span>
                <%= playlist.tracks.length %> songs
            </span>
        </span>
    </div>
</div>

<div class="row row-cols-1 g-1">
    <% playlist.tracks.forEach(function (track, trackIndex) { %>
        <div class="col">
            <%- include ("./spotify_track_item", { track: track, trackIndex: trackIndex, type: "playlist", uri: playlist.uri }); %>
        </div>
    <% }); %>
</div>
