<div class="row row-cols-1 g-1">
    <div class="col">
        <div class="card rounded-10 p-3">
            <div class="d-flex justify-content-start align-items-center">
                <span class="d-flex">
                    <span class="ratio ratio-1x1 w-200p h-200p">
                        <% if (artist.images && artist.images.length > 0) { %>
                            <% const image = artist.images[0]; %>
                            <img class="rounded-circle spotify-media-image w-200p h-200p" src="<%= image.url %>" />

                        <% } else { %>
                            <div class="w-100 h-100 bg-info bg-gradient text-center rounded-circle">
                                <i class="bi bi-person-circle position-absolute start-50 top-50 translate-middle fs-1"></i>
                            </div>

                        <% } %>
                    </span>
                </span>

                <span class="ms-3 lh-1 flex-grow-1">
                    <span class="d-flex align-items-center justify-content-between">
                        <span class="text-uppercase text-light font-size-ssm">
                            Artist
                        </span>
                        <span>
                            <span class="btn btn-sm fs-5 py-0 cursor-pointer collection-follow <%= !artist.following ? "d-none" : "" %>"
                                  id="unfollowArtist"
                                  collection-type="artist"
                                  collection-id="<%= artist.id %>"
                                  collection-following="false"
                                  inverse-target="#followArtist"
                            >
                                <i class="bi bi-heart-fill text-success"></i>
                            </span>
                            <span class="btn btn-sm fs-5 py-0 cursor-pointer collection-follow <%= artist.following ? "d-none" : "" %>"
                                  id="followArtist"
                                  collection-type="artist"
                                  collection-id="<%= artist.id %>"
                                  collection-following="true"
                                  inverse-target="#unfollowArtist"
                            >
                                <i class="bi bi-heart text-success"></i>
                            </span>
                        </span>
                    </span>

                    <span class="d-block h3 mb-2 fw-bolder">
                        <%= artist.name %>
                    </span>

                    <span class="d-block text-uppercase text-light font-size-ssm mb-2">
                        <%- artist.genres.map(function (genre) {
                            return genre;
                        }).join("<span class='bi bi-dot'></span>"); %>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <% const selectedColor = "btn-blue"; %>
    <% const deselectedColor = "btn-blue-dark"; %>

    <div class="col my-1">
        <div class="d-flex align-items-center justify-content-start font-size-sm px-2 py-2">
            <div class="badge <%= selectedColor %> cursor-pointer me-2 toggle-category"
                 data-target="#spotifyCategoryPopularTracks"
                 data-non-target=".spotify-category-wrapper"
                 selected-color="<%= selectedColor %>"
                 deselected-color="<%= deselectedColor %>"
            >
                Popular Tracks
            </div>

            <div class="badge <%= deselectedColor %> cursor-pointer me-2 toggle-category"
                 data-target="#spotifyCategoryAlbums"
                 data-non-target=".spotify-category-wrapper"
                 selected-color="<%= selectedColor %>"
                 deselected-color="<%= deselectedColor %>"
            >
                Albums
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 g-1 spotify-category-wrapper" id="spotifyCategoryPopularTracks">
    <% artist.tracks.forEach(function (track, trackIndex) { %>
        <div class="col">
            <%- include ("./spotify_track_item", { track: track, trackIndex: trackIndex, type: "track", uri: track.uri }); %>
        </div>
    <% }); %>
</div>

<div class="row row-cols-1 g-1 spotify-category-wrapper d-none" id="spotifyCategoryAlbums">
    <% artist.albums.forEach(function (album) { %>
        <div class="col">
            <%- include ("./spotify_album_item", { album: album }); %>
        </div>
    <% }); %>
</div>
