<div id="calendarMonthContainer" data-year="<%= calendar.year %>" data-month="<%= calendar.month.number %>">
    <div class="row mb-2">
        <div class="col mt-0">
            <div class="d-flex justify-content-between align-items-center">
                <span class="fs-6 font-no-monospace fw-lighter"><%= calendar.month.name %> <%= calendar.year %></span>
                <span>
                    <span class="link-light change-month fs-5" data-next="false">
                        <i class="bi bi-arrow-left-square-fill"></i>
                    </span>
                    <span class="link-light change-month fs-5" data-next="true">
                        <i class="bi bi-arrow-right-square-fill"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="font-no-monospace">
        <div class="row row-cols-8 fw-bold">
            <div class="col"></div>

            <% calendar.weekDays.daysAbbrevShort.forEach(function (day, index) { %>
                <div class="col text-center <%= index >= 5 ? "text-muted" : "" %>">
                    <%= day %>
                </div>
            <% }); %>
        </div>

        <div class="row row-cols-8 text-center fw-lighter">

            <% Array.apply(null, Array(calendar.dates[0].dayOfWeek + 1)).forEach(function () { %>
                <div class="col"></div>
            <% }); %>

            <% calendar.dates.forEach(function (day, index) { %>
                <% if (index > 0 && day.dayOfWeek === 0) { %>
                    <div class="col font-size-esm mt-4px">
                        <span class="badge bg-blue show-events-week-number cursor-pointer" data-week="<%= day.week %>">
                            <%= day.week %>
                        </span>
                    </div>
                <% } %>
                <div class="col <%= day.week !== calendar.dates[0].week ? "border-top" : "" %> <%= day.weekend ? "text-muted" : "" %>">
                    <div class="ratio ratio-1x1 mx-auto my-1" style="max-width: 30px; max-height: 30px;">
                        <div class="rounded-circle d-flex justify-content-center align-items-center <%= day.today ? 'bg-blue' : '' %>">
                            <%= day.date %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
