<% const updatedAt = new Date(events.updatedAt); %>

<div class="d-flex justify-content-between align-items-center me-3 m-2">
    <span>
        <i class="bi bi-calendar-date fs-5 text-secondary"></i>
        <span class="fs-5 mb-0 font-no-monospace fw-lighter">
            Events
        </span>
        <div class="ms-2 spinner-grow text-success spinner-grow-sm font-size-essm update-spinner d-none" data-page="calendar" role="status"></div>
    </span>
    <span class="font-size-sm">
        <span class="badge btn-blue-dark toggle-preview-events cursor-pointer <%= events.events.length <= 3 ? "d-none" : "" %>" data-show="true">
            More <i class="bi bi-caret-down-fill"></i>
        </span>
        <span class="badge btn-blue-dark toggle-preview-events cursor-pointer d-none" data-show="false">
            Less <i class="bi bi-caret-up-fill"></i>
        </span>
        <span class="badge bg-blue-dark">
            <i class="bi bi-clock-history"></i>
            <span id="eventsPreviewRefreshedAt" class="refresh-badge" data-date="<%= updatedAt.getTime() %>"><%= ('0'+updatedAt.getHours()).slice(-2) + ":" + ('0'+updatedAt.getMinutes()).slice(-2); %></span>
        </span>
    </span>
</div>

<div id="eventsPreviewContainer" class="p-0 font-size-sm">
    <% if (events.events.length === 0) { %>
        <div class="col-12">
            <div class="card rounded-10 px-3 py-2 text-center font-size-ssm">
                No events until the day after tomorrow.
            </div>
        </div>
    <% } %>

    <% events.events.forEach(function (event, index) { %>
        <div class="col-12 mb-1 preview-event <%= index > 2 ? "d-none" : "" %>">
            <div class="card rounded-10 p-0 <%= new Date().getTime() >= event.start && new Date().getTime() <= event.end ? "bg-blue" : "bg-blue-dark" %>">
                <div class="row me-0">
                    <div class="col-auto mt-0 pe-1">
                        <span class="d-flex align-items-center text-white font-size-esm">
                            <span class="badge bg-secondary d-block transform-rotate text-uppercase"><%= event.dayTextAbbrev %></span>
                            <span class="d-flex justify-content-start align-items-center me-1">
                                <span class="py-1 me-1">
                                    <span class="d-block"><%= event.startTime %></span>
                                    <span class="text-muted"><%= event.endTime %></span> 
                                </span>
                                <span class="rounded-3 py-1 <%= event.calendar.color %>">&nbsp;</span>
                            </span>
                        </span>
                    </div>
                    <div class="col ps-0 mt-0 text-truncate pb-1 pe-2 lh-1 align-self-center">
                        <span class="font-size-esm text-white">
                            <span><%= event.title %></span>
                            <br />
                            <span class="text-muted"><%= event.location %></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
