<% tasks.items.filter(function (task) {
    return task.flagged === isFlagged
}).forEach(function (task) { %>
    
    <div class="col task-item <%= task.completed ? "d-none" : "" %>"
         data-id="<%= task.id %>"
         data-created-at="<%= task.createdAt %>"
         data-completed="<%= task.completed ? "true" : "false" %>"
    >
        <div class="d-flex justify-content-between align-items-center">
            <span class="bg-blue-dark input-group input-group-sm rounded-10">
                <span class="btn btn-sm btn-blue-dark text-white rounded-10 p-1">
                    <input class="form-check-input font-size-sm m-1 bg-blue border-0 task-complete"
                           id="completeTaskCheck-<%= task.id %>"
                           type="checkbox"
                           name="completed"
                           data-id="<%= task.id %>" <%= task.completed ? "checked" : "" %>
                    >
                </span>
                <input type="text" class="font-size-sm form-control form-control-sm bg-blue-dark border-0 placeholder-light text-white task-description"
                       data-id="<%= task.id %>"
                       value="<%= task.task %>"
                       data-prev="<%= task.task %>"
                       placeholder="Task description..."
                >
                <span class="input-group-text bg-blue-dark p-0 font-size-sm rounded-end-10 border-0">
                    <span class="btn btn-sm btn-blue-dark text-white rounded-10">
                        <i class="bi bi-flag-fill text-warning task-flag <%= !task.flagged ? "d-none" : "" %>"
                           data-id="<%= task.id %>"
                           data-flagged="true"
                           id="flagTask<%= task.id %>"
                           data-inverse="#unflagTask<%= task.id %>"
                        ></i>
                        <i class="bi bi-flag text-white task-flag <%= task.flagged ? "d-none" : "" %>"
                           data-id="<%= task.id %>"
                           data-flagged="false"
                           id="unflagTask<%= task.id %>"
                           data-inverse="#flagTask<%= task.id %>"
                        ></i>
                    </span>
                </span>
            </span>

            <span class="d-inline-flex rounded-10 btn btn-sm text-danger font-size-sm ms-1 m-0 task-delete d-none"
                  data-id="<%= task.id %>"
            >
                <i class="bi bi-trash"></i>
            </span>
        </div>
    </div>
<% }); %>
