<% const mapUpdatedAt = new Date(map.updatedAt); %>
<% const trainUpdatedAt = new Date(train.updatedAt); %>
<% const enabledColor = "btn-blue"; %>
<% const disabledColor = "btn-blue-dark"; %>

<div class="d-flex justify-content-between align-items-center me-3 m-2">
    <span>
        <i class="bi bi-stoplights fs-5 text-secondary"></i>
        <span class="fs-5 mb-0 font-no-monospace fw-lighter">
            Travel
        </span>
        <div class="ms-2 spinner-grow text-success spinner-grow-sm font-size-essm update-spinner d-none" data-page="travel" role="status"></div>
    </span>
    <span class="font-size-sm">
        <span class="badge <%= enabledColor %> cursor-pointer travel-type-toggle"
              id="travelNSTypeToggle"
              data-target=".travel-items[data-type='train_route']"
              data-no-target=".travel-items[data-type='map_route']"
              enabled-color="<%= enabledColor %>"
              disabled-color="<%= disabledColor %>"
        >
            Train <i class="bi bi-train-front"></i>
        </span>
        <span class="badge <%= disabledColor %> cursor-pointer travel-type-toggle"
              id="travelMapTypeToggle"
              data-target=".travel-items[data-type='map_route']"
              data-no-target=".travel-items[data-type='train_route']"
              enabled-color="<%= enabledColor %>"
              disabled-color="<%= disabledColor %>"
        >
            Car <i class="bi bi-car-front"></i>
        </span>

        <span class="badge bg-blue-dark travel-items" data-type="train_route">
            <i class="bi bi-clock-history"></i>
            <span id="travelTrainRefreshedAt"
                  class="refresh-badge"
                  data-date="<%= train.updatedAt %>"
            >
                <%= ('0'+trainUpdatedAt.getHours()).slice(-2) + ":" + ('0'+trainUpdatedAt.getMinutes()).slice(-2); %>
            </span>
        </span>

        <span class="badge bg-blue-dark travel-items d-none" data-type="map_route">
            <i class="bi bi-clock-history"></i>
            <span id="travelMapRefreshedAt"
                  class="refresh-badge"
                  data-date="<%= map.updatedAt %>"
            >
                <%= ('0'+mapUpdatedAt.getHours()).slice(-2) + ":" + ('0'+mapUpdatedAt.getMinutes()).slice(-2); %>
            </span>
        </span>
    </span>
</div>

<div id="travelMapWrapper"
     class="d-none travel-items row g-1 row-cols-1 row-cols-sm-2 row-cols-lg-2 row-cols-xxl-3"
     data-type="map_route"
>
    <%- include ('../widgets/travel_items_map'); %>
</div>

<div id="travelNSWrapper"
     class="travel-items row g-1 row-cols-1 row-cols-sm-2 row-cols-lg-2 row-cols-xxl-3"
     data-type="train_route"
>
    <%- include ('../widgets/travel_items_ns'); %>
</div>
