<div class="card bg-blue-dark border border-2 border-blue bg-gradient rounded-10">
    <div class="row row-cols-1 <%= weather.serviceEnabled && weather.weather.enabled ? "row-cols-lg-2" : "" %>">
        <div class="col-12 <%= weather.serviceEnabled && weather.weather.enabled ? "col-lg-5 col-xxl-4" : "" %> align-self-center text-start mt-0" id="nowTime">
            <div class="d-flex justify-content-start align-items-center ps-2">
                <div>
                    <div class="btn btn-blue rounded-5 ratio ratio-1x1 p-4"  data-bs-toggle="modal" data-bs-target="#navigationContainer">
                        <div class="d-flex justify-content-center align-items-center fs-2">
                            <i class="bi bi-grid-fill text-white"></i>
                        </div>
                    </div>
                </div>

                <div class="lh-sm font-no-monospace flex-grow-1 pb-2 text-center">
                    <span class="fw-bolder text-white fs-2" id="nowTimeString">
                        <%= now.time %>
                    </span>
                    <span class="d-flex justify-content-center font-size-s text-uppercase">
                        <span class="badge bg-blue text-white" id="nowDateString">
                            <%= now.dayText %>, <%= now.monthText %> <%= now.date %>
                        </span>
                        <span class="badge bg-blue text-white ms-2">
                            <i class="bi bi-pin-map font-size-esm"></i>
                            <%= weather.location.city %>
                        </span>
                    </span>
                </div>

            </div>
        </div>

        <% if (weather.serviceEnabled && weather.weather.enabled) { %>
            <div class="col-12 col-lg-7 col-xxl-8 align-self-center mt-0" id="weather">
                <%- include ('./weather_today_home') %>
            </div>
        <% } %>
    </div>
</div>
