<% mapAddresses.forEach(function (mapAddress) { %>
    <div class="accordion-item bg-blue-dark border-body" id="mapAddress-<%= mapAddress.id %>">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-blue-dark text-muted px-3 py-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".collapse-address-<%= mapAddress.id %>"
                    data-bs-parent="#addressAccordion"
            >
                <i class="bi bi-house me-2"></i> <%= mapAddress.name %>
            </button>
        </h2>
        <div class="accordion-collapse collapse collapse-address-<%= mapAddress.id %>" data-bs-parent="#addressAccordion">
            <div class="accordion-body">
                <div class="mb-3">
                    <form class="updateAddressForm font-size-ssm">
                        <input type="hidden" name="id" value="<%= mapAddress.id %>">

                        <div class="d-block mb-2">
                            <label>Name*</label>
                            <input type="text"
                                   class="form-control
                                   form-control-sm"
                                   name="name"
                                   value="<%= mapAddress.name %>"
                                   required
                            >
                        </div>

                        <div class="d-block mb-2">
                            <label>Address*</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   name="address"
                                   value="<%= mapAddress.address %>"
                                   required
                            >
                        </div>

                        <div class="d-block mb-2 error-message text-danger font-size-ssm fst-italic"
                             id="errorMessage-<%= mapAddress.id %>"
                        ></div>

                        <div class="d-flex justify-content-between">
                            <div class="btn btn-sm btn-danger delete-address"
                                 data-id="<%= mapAddress.id %>"
                                 data-target="#mapAddress-<%= mapAddress.id %>"
                                 error-target="#errorMessage-<%= mapAddress.id %>"
                            >
                                <span class="load">Delete</span>
                                <div class="loading spinner-border spinner-border-sm text-white d-none" role="status"></div>
                            </div>
                            <button class="btn btn-sm btn-dark" type="submit">
                                <span class="load">Save</span>
                                <div class="loading spinner-border spinner-border-sm text-white d-none" role="status"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% }); %>
