<% if (!train.serviceEnabled) { %>
    <div class="col flex-grow-1">
        <div class="card p-0 rounded-10 bg-blue-dark py-3">
            <div class="d-flex align-items-center justify-content-center">
                <span class="text-center font-size-ssm">
                    <span class="h5 fw-bold d-block">TRAIN SERVICE NOT ENABLED</span>
                    <span class="d-block">Enable the service at the top right of the page.</span>
                </span>
            </div>
        </div>
    </div>
<% } %>

<% if (train.serviceEnabled && !train.enabled) { %>
    <div class="col flex-grow-1">
        <div class="card p-0 rounded-10 bg-blue-dark py-3">
            <div class="d-flex align-items-center justify-content-center">
                <span class="text-center font-size-ssm">
                    <span class="h5 fw-bold d-block">
                        <i class="bi bi-exclamation-triangle text-danger"></i>
                        TRAIN NOT ENABLED
                    </span>
                    <span class="d-block"><%= train.error %></span>
                    <span class="d-block">Go to <a href="/settings" class="navigation-link">settings</a> to check or edit your keys.</span>
                </span>
            </div>
        </div>
    </div>
<% } %>

<% if (train.serviceEnabled && train.enabled && train.routes) { %>
    <% train.routes.forEach(function (route) { %>
        <div class="col travel-item" data-type="<%= route.type %>" data-id="<%= route.id %>">
            <div class="card p-0 rounded-10 bg-blue-dark pt-2 pb-1">
                <div class="d-flex justify-content-between align-items-center px-3">
                    <span class="fs-6 text-white rounded-10">
                        <i class='bi bi-train-front'></i>
                    </span>
                    <span class="d-flex align-items-center font-size-ssm text-uppercase text-white">
                        <span class="badge bg-info fw-bold text-wrap">
                            <%= route.origin.name %>
                        </span>
                        <i class='bi bi-arrow-right mx-1'></i>
                        <span class="badge bg-info fw-bold text-wrap">
                            <%= route.destination.name %>
                        </span>
                    </span>
                </div>

                <% route.routes.filter(function (_, index) {
                    if (page === "travel") {
                        return true;
                    } else {
                        return index < 3;
                    }
                }).forEach(function (tRoute) { %>
                    <div class="d-flex justify-content-between align-items-center mx-2 px-2 py-1 lh-1 font-size-esm text-white rounded <%= page === "travel" ? "toggle-train-transfers" : "" %>"
                         data-id="<%= tRoute.id %>"
                    >
                        <span class="fw-bold">
                            <span>
                                <%- tRoute.cancelled ? "<del class='cancelled'>" : "<span>" %><%= tRoute.departure.plannedTime %><%- tRoute.departure.delay > 0 ? "<span class='text-danger'>+" + tRoute.departure.delay + "</span>" : "" %><%- tRoute.cancelled ? "</del>" : "</span>" %><i class="bi bi-arrow-right text-muted mx-1"></i><%- tRoute.cancelled ? "<del class='cancelled'>" : "<span>" %><%= tRoute.arrival.plannedTime %><%- tRoute.arrival.delay > 0 ? "<span class='text-danger'>+" + tRoute.arrival.delay + "</span>" : "" %><%- tRoute.cancelled ? "</del>" : "</span>" %>
                            </span>

                            <% if (page === "travel") { %>
                                <span class="ms-1">
                                    <% tRoute.transfers.forEach(function (transfer) { %>
                                        <span class="badge bg-<%= transfer.trainTypeColor %>">
                                            <%= transfer.trainTypeShort %>
                                        </span>
                                    <% }); %>
                                </span>
                            <% } %>
                        </span>
                        <span>
                            <% if (tRoute.maintenance) { %>
                                <span>
                                    <i class="bi bi-cone-striped text-danger"></i>
                                </span>
                            <% } %>

                            <% if (page === "home") { %>
                                <span>
                                    <% tRoute.transfers.forEach(function (transfer) { %>
                                        <span class="rounded-10 px-0 bg-<%= transfer.trainTypeColor %> font-no-monospace">&nbsp;</span>
                                    <% }); %>
                                </span>
                            <% } %>

                            <span>
                                <i class="bi bi-clock me-1"></i><%- tRoute.delayed ? "<span class='text-danger'>" + tRoute.duration.actualTime + "</span>" : tRoute.duration.plannedTime %>
                            </span>

                            <span>
                                <i class="bi bi-person <%= tRoute.crowdForecast === "LOW" ? "text-success" : (tRoute.crowdForecast === "MEDIUM" ? "text-warning" : (tRoute.crowdForecast === "HIGH" ? "text-danger" : "text-muted")) %>"></i>
                            </span>

                            <% if (page === "travel") { %>
                                <span class="badge btn-secondary">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </span>
                            <% } %>
                        </span>
                    </div>

                    <div class="px-3 py-1 font-size-ssm text-white mx-3 mt-1 mb-2 border border-1 border-blue rounded train-transfers d-none"
                         data-id="<%= tRoute.id %>"
                    >
                        <% tRoute.transfers.forEach(function (transfer, index) { %>

                            <div class="row row-cols-2">
                                <% if (index === 0) { %>
                                    <div class="col-3 col-md-2 fw-bold">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>
                                                <%- transfer.cancelled ? "<del class='text-muted cancelled'>" : "" %>
                                                <%= transfer.origin.planned.time %><%- transfer.origin.delay > 0 ? "<span class='text-danger'>+" + transfer.origin.delay + "</span>" : "" %>
                                                <%- transfer.cancelled ? "</del>" : "" %>
                                            </span>
                                            <span>
                                                <i class="bi bi-circle-fill <%= transfer.cancelled ? "text-muted" : "text-" + transfer.trainTypeColor %>"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-9 col-md-10 ps-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="fw-bold <%= transfer.cancelled ? "text-muted" : "" %>">
                                                <%= transfer.origin.name %>
                                            </span>

                                            <span>
                                                <% if (!transfer.cancelled) { %>
                                                    <% const plannedPlatform = transfer.origin.planned.platform; %>
                                                    <% const actualPlatform = transfer.origin.actual.platform; %>
                                                    platform <%- plannedPlatform === actualPlatform ? plannedPlatform : "<span class='text-danger'>" + actualPlatform + "</span>" %>
                                                <% } %>
                                            </span>
                                        </div>
                                    </div>

                                <% } %>

                                <div class="col-3 col-md-2"></div>

                                <div class="col-9 col-md-10 ps-0 border border-1 border-start-0 border-end-0 border-blue py-1 <%= transfer.cancelled ? "text-muted" : "text-light" %>">
                                    <span class="fw-bold">
                                        <%= transfer.trainOperator %> <%= transfer.trainType %>
                                    </span> direction <%= transfer.direction %>
                                </div>

                                <% transfer.maintenanceAt.forEach(function (maintenance) { %>
                                    <div class="col-3 col-md-2 pb-1 align-self-center text-end">
                                        <i class="bi bi-cone-striped text-danger"></i>
                                    </div>

                                    <div class="col-9 col-md-10 border border-1 border-start-0 border-end-0 border-top-0 border-blue ps-0 pb-1 align-self-center">
                                        <span class="text-danger">
                                            <%= maintenance.head %>
                                        </span>
                                    </div>
                                <% }); %>

                                <div class="col-3 col-md-2 align-self-baseline">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>
                                            <span class="text-light">
                                                <%- transfer.cancelled ? "<del class='text-muted cancelled'>" : "" %>
                                                <%= transfer.destination.planned.time %><%- transfer.destination.delay > 0 ? "<span class='text-danger'>+" + transfer.destination.delay + "</span>" : "" %>
                                                <%- transfer.cancelled ? "</del>" : "" %>
                                            </span>

                                            <% if (index + 1 < tRoute.transfers.length) { %>
                                                <span class="d-block fw-bold">
                                                    <%= tRoute.transfers[index + 1].origin.planned.time %><%- tRoute.transfers[index + 1].origin.delay > 0 ? "<span class='text-danger'>+" + tRoute.transfers[index + 1].origin.delay + "</span>" : "" %>
                                                </span>
                                            <% } %>
                                        </span>
                                        <span>
                                            <i class="bi bi-circle-fill text-<%= index + 1 < tRoute.transfers.length ? tRoute.transfers[index + 1].trainTypeColor : transfer.trainTypeColor %>"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-9 col-md-10 ps-0 align-self-baseline">
                                    <div class="d-flex justify-content-between align-items-center">
                                            <span class="fw-bold <%= transfer.cancelled && index + 1 > tRoute.transfers.length - 1 ? "text-muted" : "" %>">
                                                <%= transfer.destination.name %>
                                            </span>
                                        <span>
                                            <% if (!transfer.cancelled) { %>
                                                <% const plannedDestinationPlatform = transfer.destination.planned.platform; %>
                                                <% const actualDestinationPlatform = transfer.destination.actual.platform; %>
                                                platform <%- plannedDestinationPlatform === actualDestinationPlatform ? plannedDestinationPlatform : "<span class='text-danger'>" + actualDestinationPlatform + "</span>" %>
                                            <% } %>
                                        </span>
                                        </span>
                                    </div>

                                    <% if (index + 1 < tRoute.transfers.length) { %>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="text-light">
                                                Cross platform transfer
                                            </span>
                                            <span>
                                                <% const plannedOriginPlatform = tRoute.transfers[index + 1].origin.planned.platform; %>
                                                <% const actualOriginPlatform = tRoute.transfers[index + 1].origin.actual.platform; %>
                                                platform <%- plannedOriginPlatform === actualOriginPlatform ? plannedOriginPlatform : "<span class='text-danger'>" + actualOriginPlatform + "</span>" %>
                                            </span>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% }); %>
<% } %>
