<% if (devices.serviceEnabled && devices.enabled) { %>
    <% if (page === "devices") { %>
        <% devices.devices.filter(function (device) { return (page === "home") ? device.blacklisted === null : true }).filter(function (device) { return device.deviceTypeName === "color" }).forEach(function (device) { %>
            <div class="col device-row <%= device.blacklisted !== null ? "device-hidden d-none" : "" %>"
                 data-blacklist-id="<%= device.blacklisted !== null ? device.blacklisted.id : "" %>"
            >
                <div class="card devices-color-row rounded-10 p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="rounded-10 me-1 ps-1 flex-grow-1 text-truncate overflow-hidden switch-device cursor-pointer animate"
                              style="--animate-color: var(--bs-success)"
                              state="on"
                              device-id="<%= device.deviceID %>"
                              id="name-<%= device.deviceID %>"
                        >
                            <span class="d-block font-size-esm text-truncate">
                                <i class="btn btn-sm bi bi-play-fill px-0"></i>
                                <%= device.name %>
                            </span>
                        </span>
                        <span class="d-flex align-items-center w-100 d-none" id="brightness-<%= device.deviceID%>">
                            <input type="range"
                                   class="device-slider-horizontal dim-device"
                                   toggle-type="brightness"
                                   min="<%= device.dim.min %>"
                                   max="<%= device.dim.max %>"
                                   value="<%= device.dim.level %>"
                                   device-id="<%= device.deviceID %>"
                            >
                        </span>
                        <span class="d-flex align-items-center w-100 d-none" id="color-<%= device.deviceID%>">
                            <input type="range"
                                   class="device-slider-horizontal color-device"
                                   toggle-type="color"
                                   min="<%= device.color.min %>"
                                   max="<%= device.color.max %>"
                                   value="<%= device.color.level %>"
                                   device-id="<%= device.deviceID %>"
                            >
                        </span>

                        <span class="btn-group device-toggles"
                              id="toggleButtons-<%= device.deviceID %>"
                        >
                            <span class="device-toggle toggle-brightness-color btn btn-sm btn-blue-dark rounded-10 text-blue"
                                  toggle-type="brightness"
                                  device-id="<%= device.deviceID %>"
                            >
                                <i class="bi bi-brightness-high"></i>
                            </span>
                            <span class="device-toggle toggle-brightness-color btn btn-sm btn-blue-dark rounded-10 text-warning"
                                  toggle-type="color"
                                  device-id="<%= device.deviceID %>"
                            >
                                <i class="bi bi-brightness-alt-high"></i>
                            </span>
                            <span class="device-toggle switch-device btn btn-sm btn-blue-dark rounded-end-10 text-danger animate"
                                  style="--animate-color: var(--bs-danger)"
                                  state="off"
                                  device-id="<%= device.deviceID %>"
                            >
                                <i class="bi bi-lightbulb-off"></i>
                            </span>
                        </span>

                        <div class="btn-group device-visibility d-none">
                            <span id="showDevice<%= device.deviceID %>"
                                  class="toggle-devices-visibility rounded-10 btn btn-sm btn-success text-white <%= device.blacklisted !== null ? "" : "d-none" %>"
                                  data-id="<%= device.deviceID %>"
                                  data-toggle="show"
                                  data-toggle-inverse="#hideDevice<%= device.deviceID %>"
                            >
                                <span class="font-size-esm">SHOW</span>
                            </span>
                            <span id="hideDevice<%= device.deviceID %>"
                                  class="toggle-devices-visibility rounded-10 btn btn-sm btn-danger text-white <%= device.blacklisted !== null ? "d-none" : "" %>"
                                  data-id="<%= device.deviceID %>"
                                  data-toggle="hide"
                                  data-toggle-inverse="#showDevice<%= device.deviceID %>"
                            >
                                <span class="font-size-esm">HIDE</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <% devices.devices.filter(function (device) { return (page === "home") ? device.blacklisted === null : true }).filter(function (device) { return device.deviceTypeName === "color" }).forEach(function (device) { %>
            <div class="col device-row <%= device.blacklisted !== null ? "device-hidden d-none" : "" %>"
                 data-blacklist-id="<%= device.blacklisted !== null ? device.blacklisted.id : "" %>"
            >

                <div class="card devices-dimmer-row rounded-10 ratio ratio-1x1 cursor-pointer switch-device animate"
                     style="--animate-color: var(--bs-success)"
                     state="on"
                     device-id="<%= device.deviceID %>"
                >
                    <span class="d-flex align-items-center w-100 h-100 d-none"
                          id="brightness-<%= device.deviceID%>"
                    >
                        <div class="position-absolute translate-middle start-50 top-50">
                            <i class="bi bi-brightness-high text-blue fs-2"></i>
                        </div>
                        <input type="range"
                               class="device-slider-vertical dim-device border border-1 border-blue-dark rounded-10"
                               toggle-type="brightness"
                               min="<%= device.dim.min %>"
                               max="<%= device.dim.max %>"
                               value="<%= device.dim.level %>"
                               device-id="<%= device.deviceID %>"
                        >
                    </span>

                    <span class="d-flex align-items-center w-100 d-none"
                          id="color-<%= device.deviceID%>"
                    >
                        <div class="position-absolute translate-middle start-50 top-50">
                            <i class="bi bi-brightness-alt-high text-warning fs-2"></i>
                        </div>
                        <input type="range"
                               class="device-slider-vertical color-device border border-1 border-blue-dark rounded-10"
                               toggle-type="color"
                               min="<%= device.color.min %>"
                               max="<%= device.color.max %>"
                               value="<%= device.color.level %>"
                               device-id="<%= device.deviceID %>"
                        >
                    </span>

                    <div class="d-flex align-items-center flex-column" id="name-<%= device.deviceID%>">
                        <div class="mb-auto text-center lh-1 mt-2">
                            <span class="px-2">
                                <span class="font-size-esm fw-bold font-no-monospace">
                                    <%= device.name %>
                                </span>
                            </span>
                        </div>
                        <div class="w-100 btn-group device-toggles" id="toggleButtons-<%= device.deviceID %>">
                            <span class="device-toggle toggle-brightness-color btn btn-sm rounded-10 text-blue"
                                  toggle-type="brightness"
                                  device-id="<%= device.deviceID %>"
                            >
                                <i class="bi bi-brightness-high"></i>
                            </span>
                            <span class="device-toggle toggle-brightness-color btn btn-sm rounded-10 text-warning"
                                  toggle-type="color"
                                  device-id="<%= device.deviceID %>"
                            >
                                <i class="bi bi-brightness-alt-high"></i>
                            </span>
                            <span class="device-toggle switch-device btn btn-sm rounded-0 rounded-10 text-danger animate"
                                  style="--animate-color: var(--bs-danger)"
                                  state="off"
                                  device-id="<%= device.deviceID %>"
                            >
                                    <i class="bi bi-lightbulb-off"></i>
                                </span>
                            </span>
                        </div>
                        <div class="position-absolute translate-middle start-50 top-50 fs-5">
                            <i class="bi bi-lightbulb-fill text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } %>
<% } %>
