<span class="d-flex justify-content-between align-items-center me-3 m-2">
    <a class="sidebar-link text-decoration-none text-blue" href="/devices">
        <i class="bi bi-lightbulb fs-5"></i>
        <span class="fs-5 mb-0 font-no-monospace fw-light">
            Devices
        </span>
        <div class="ms-2 spinner-grow text-success spinner-grow-sm font-size-essm update-spinner d-none"
             data-page="devices"
             role="status"
        ></div>
    </a>

    <span class="font-size-sm">
        <% if (devices.serviceEnabled && devices.enabled) { %>
            <span class="badge btn-blue-dark cursor-pointer toggle-device-type"
                  data-target="#deviceSceneList"
            >
                Scenes <i class="bi bi-play-circle"></i>
            </span>
            <span class="badge btn-blue cursor-pointer toggle-device-type"
                  data-target="#deviceSwitchDimmerColorList"
            >
                Switches/Dimmers <i class="bi bi-lightbulb"></i>
            </span>
        <% } %>
    </span>
</span>

<% if (devices.serviceEnabled && !devices.enabled) { %>
    <div class="col flex-grow-1">
        <div class="card p-0 rounded-10 bg-blue-dark py-3">
            <div class="d-flex align-items-center justify-content-center">
                <span class="text-center font-size-ssm">
                    <span class="h5 fw-bold d-block">
                        <i class="bi bi-exclamation-triangle text-danger"></i>
                        DEVICES NOT ENABLED
                    </span>
                    <span class="d-block"><%= devices.error %></span>
                    <span class="d-block">Go to <a href="/settings">settings</a> to check or edit your keys.</span>
                    <span class="d-block mt-2">Click <a href="" id="reinitializeDevices">here</a> to reinitialize the Devices Service</span>
                </span>
            </div>
        </div>
    </div>
<% } %>

<% if (devices.serviceEnabled && devices.enabled) { %>
    <!--    <div class="row g-1 row-cols-3 row-cols-md-4 row-cols-lg-3 row-cols-xxl-4 device-wrapper d-none" id="deviceSceneList">-->
    <div class="row g-1 row-cols-5 device-wrapper d-none" id="deviceSceneList">
        <%- include('./devices_scene'); %>
    </div>

    <!--    <div class="row g-1 row-cols-2 row-cols-md-3 row-cols-lg-2 row-cols-xxl-3 device-wrapper" id="deviceSwitchDimmerColorList">-->
    <div class="row g-1 row-cols-6 device-wrapper" id="deviceSwitchDimmerColorList">
        <%- include('./devices_switch'); %>
        <%- include('./devices_dimmer'); %>
        <%- include('./devices_color'); %>
    </div>
<% } %>
